{%  extends "FrontBundle::base.html.twig" %}

{% block body %}
    <h1>Charges list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Montant</th>
                <th>Dateecheance</th>
                <th>Statut</th>
                <th>User</th>
                <th>Urlfacture</th>
                <th>Urlcontrat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for charge in charges %}
            <tr>
                <td><a href="{{ path('charge_show', { 'id': charge.id }) }}">{{ charge.id }}</a></td>
                <td>{{ charge.titre }}</td>
                <td>{{ charge.montant }}</td>
                <td>{% if charge.dateEcheance %}{{ charge.dateEcheance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if charge.statut %}Yes{% else %}No{% endif %}</td>
                <td>{% if charge.user %}{{ charge.user|join(', ') }}{% endif %}</td>
                <td>{{ charge.urlFacture }}</td>
                <td>{{ charge.urlContrat }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('charge_show', { 'id': charge.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('charge_edit', { 'id': charge.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('charge_new') }}">Create a new charge</a>
        </li>
    </ul>
{% endblock %}
