{%  extends "FrontBundle::base.html.twig" %}

{% block body %}
    <h1>Charge</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ charge.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ charge.titre }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ charge.montant }}</td>
            </tr>
            <tr>
                <th>Dateecheance</th>
                <td>{% if charge.dateEcheance %}{{ charge.dateEcheance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if charge.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{% if charge.user %}{{ charge.user|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Urlfacture</th>
                <td>{{ charge.urlFacture }}</td>
            </tr>
            <tr>
                <th>Urlcontrat</th>
                <td>{{ charge.urlContrat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('charge_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('charge_edit', { 'id': charge.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
